/*=======================================================
	
	Item	: 	N5 - Minimal Resume/CV & vCard Template
	
	Author	: 	Noman Ali Samejo
	
--------------------------------------------------------------------------------------
	List Of Contents
--------------------------------------------------------------------------------------
	
	01. General Styles
	
	02. Menu
	
	03. Section Styles
	
	04. Main Section
	
	05. About Section
	
	06. Resume Section
	
	07. Portfolio Section
	
	08. Contact Section
	
	09. Responsive CSS

=========================================================*/

/*=======================================================
	General Styles
=======================================================*/
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700,300,100|Lora:400,400italic,700,700italic);
body,
html {
	height: 100%;
	width: 100%;
}
html{
	font-size:6.25%;
}
body {
	position: relative;
	overflow: hidden;
	font-family: Lora, serif;
	background: #f0f0f0 !important;
	font-size: 16px;
}
* {
	font-family: inherit;
}
.view-project,
.portfolio-filters > li > a,
.p-table > .header > .price,
.info-list > li > strong,
.btn-custom,
.menu-items > li > a,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Roboto Mono", sans-serif;
}
.color {
	color: #303f9f;
}
::-webkit-scrollbar {
	background: #f0f0f0;
	height: 10rem;
	width: 10rem;
}
::-webkit-scrollbar-thumb {
	background: #d0d0d0;
	border: solid 2rem #f0f0f0;
}
::-webkit-scrollbar-thumb:hover {
	background: #a0a0a0;
}
img {
	max-width: 100%;
}
a:hover,a:visited, a:link, a:visited{
	text-decoration: none;
	border:none;
	outline: none;
}