@import "./variables.scss";

/*=======================================================
	General Styles
=======================================================*/
html {
  font-size: 6.25%;
  height: 100%;
  &,
  body {
    overflow: hidden;
  }
  body {
    position: relative;
    font-family: $font-family-primary;
    font-size: 16rem;
    margin: 0;
    padding: 0;
    height: 100%;
  }
}
* {
  font-family: inherit;
  color: $foreground-color;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  object-fit: cover;
}
a:hover,
a:visited,
a:link,
a:visited {
  text-decoration: none;
  border: none;
  outline: none;
  cursor: pointer;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
textarea {
  resize: none;
}

/*=======================================================
	Border Styles
=======================================================*/
.page-border {
  .border-top,
  .border-bottom,
  .border-right,
  .border-left {
    position: absolute;
    z-index: $big-number;
    border: solid $size-1 $page-border-color;
  }
  .border-top {
    top: $size-16;
    left: $size-24;
    right: $size-24;
    height: $size-9;
  }
  .border-bottom {
    bottom: $size-16;
    left: $size-24;
    right: $size-24;
    height: $size-9;
  }
  .border-right {
    top: $size-24;
    bottom: $size-24;
    right: $size-16;
    width: $size-9;
  }
  .border-left {
    top: $size-24;
    bottom: $size-24;
    left: $size-16;
    width: $size-9;
  }
}

/*=======================================================
	Main Content Styles
=======================================================*/
.main-content {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $background-color;
  overflow: hidden;
  padding: $size-32;
  display: flex;
  flex-direction: column;
}

/*=======================================================
	Menu Styles
=======================================================*/

#menu-toggle {
  display: none;
  transition: background-color 1s;
}

.menu-icon {
  cursor: pointer;
  font-size: 0;
  display: block;
  position: absolute;
  top: $size-24;
  right: $size-24;
  padding: $size-24;
  z-index: $big-number;
  display: flex;
  flex-direction: column;
  align-items: center;
  * {
    width: $size-40;
    height: $size-4;
    background-color: $primary-color;
    margin: $size-4 0;
  }
}

.menu-items {
  position: absolute;
  z-index: $big-number - 10;
  background: $background-color-menu;
  top: 0;
  right: 0;
  height: 100%;
  width: 0;

  &.hide-menu {
    width: 0;
  }

  -webkit-transition: width 0.6s ease;
  -moz-transition: width 0.6s ease;
  transition: width 0.6s ease;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  ul {
    width: $size-300;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: $size-40;
    li > * {
      text-transform: uppercase;
      color: $text-color-item-menu;
      font-size: $size-24;
      &:hover {
        color: $text-color-item-menu-hover;
      }
      &:active {
        color: $text-color-item-menu-active;
      }
      &:active ~ .menu-items {
        width: 0;
      }
    }
  }
}

//.menu-items:hover,
//.menu-icon:hover + .menu-items,
#menu-toggle:checked ~ .menu-items,
.show-menu {
  width: $size-300;
}

/*=======================================================
	Sections Styles
=======================================================*/
.sections {
  position: relative;
  height: 100%;
  top:0;
  left: 0;
  & > * {
    opacity: 0;
    transition: opacity .5s ease;
    z-index: 0;
  }
  .section-active{
    opacity: 1;
    z-index: $big-number - 100;
  }
  .section{
    position: absolute;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    padding: $size-8;
    @media (min-width: $breakpoint-laptop) {
      & {
        padding: $size-64;
      }
    }
  }
}

/*=======================================================
	All Sections Styles
=======================================================*/

@import "./main.scss";
@import "./contact.scss";
